<%- include('../partials/header', { title: 'Login', hideLogout: true }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/css/styles.css">
<script src="https://www.google.com/recaptcha/api.js?render=6Le5GeYqAAAAAEZTAg_czNZeKJgqTyi8ReTc1Dha"></script>
<div class="login-container">
    <div class="box">
        <h1 class="title has-text-centered">LOGIN</h1>
        
        <% if (typeof error !== 'undefined' && error) { %>
            <div class="notification is-danger">
                <%= error %>
            </div>
        <% } %>
        
        <form id="login-form" action="/auth/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" id="recaptchaResponse" name="recaptchaResponse">
            <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control has-icons-left">
                    <input id="username" class="input is-rounded" type="text" name="username" 
                           placeholder="Enter your username" required
                           minlength="5" maxlength="30" pattern="[^\s]+">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control has-icons-left">
                    <input id="password" class="input is-rounded" type="password" name="password" 
                           placeholder="Enter your password" required
                           minlength="5" maxlength="30" pattern="[^\s]+">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary is-fullwidth is-rounded" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/js/reCAPTCHA.js"></script>
<%- include('../partials/footer') %>
