<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Admin Dashboard</h1>
            <% const page = 'dashboard'; %>
            <%- include('../partials/navbar', { page: page }) %>
        </div>
    </section>
</body>
</html>
