<nav class="navbar" role="navigation" aria-label="main navigation" style="flex-wrap: wrap;">
    <div class="navbar-menu is-flex is-flex-wrap-wrap is-align-items-center" style="width:100%;">
        <div class="navbar-start is-flex is-flex-wrap-wrap">
            <a class="navbar-item" href="/admin/dashboard">Dashboard</a>
            <a class="navbar-item" href="/admin/manageStudents">Students</a>
            <a class="navbar-item" href="/admin/manageModules">Modules</a>
            <a class="navbar-item" href="/admin/manageGrades">Grades</a>
            <a class="navbar-item" href="/admin/manageProgression">Progression</a>
        </div>
    </div>
</nav>
